<!DOCTYPE html>
<html lang="en">

<head>
    <mete charset="UTF-8">
    <mete name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">    
    <style type="text/css">
        .a{
            padding-top:60px; 
        }
        .b{
            padding-top:10px; 
            padding-left:30px;
            padding-right:30px;
        }
    </style>    
    <script>
        var alldata;        
		function go(){
			$$.post(
			'/Inquire',
			function(data){
				alldata = data;
                show1();                
				for(i = 0; i<= data.length ;i++){
					show2(data, i)
				}
			});
		}        
        function test1(){
            var Ename=document.getElementById("Ename").value;           
			show1();
            for(i = 0; i<= alldata.length ;i++){

                if (alldata[i]["Ename"]==Ename) {
                    show2(alldata, i)   
                }
			}                         
        }
        function test2(){
            var Dname=document.getElementById("Dname").value;           
			show1();
            for(i = 0; i<= alldata.length ;i++){

                if (alldata[i]["Dname"]==Dname) {
                    show2(alldata, i);
                }
			}                         
        }
        function test3(){       
			show1();
            for(i = 0; i<= alldata.length ;i++){
                show2(alldata, i);
			}                         
        }
        function show1(){
			$$("#content").html("");      
            $$("#content").append(
                "<tr>" +
                        "<td width=\"100px\" align=\"center\" valign=\"center\"><b>ID</b></td>" +
                        "<td width=\"100px\" align=\"center\" valign=\"center\"><b>Name</b></td>" +
                        "<td width=\"100px\" align=\"center\" valign=\"center\"><b>Rank</b></td>" +
                        "<td width=\"100px\" align=\"center\" valign=\"center\"><b>Department</b></td>" +
                "</tr>"
			);
        }
        function show2(list, number){
            $$("#content").append(
                    "<tr>" +
                            "<td width=\"100px\" align=\"center\" valign=\"center\">" +  list[number]["Eid"] + "</td>" +
                            "<td width=\"100px\" align=\"center\" valign=\"center\">" +  list[number]["Ename"] + "</td>" +
                            "<td width=\"100px\" align=\"center\" valign=\"center\">" +  list[number]["rank"] + "</td>" +
                            "<td width=\"100px\" align=\"center\" valign=\"center\">" +  list[number]["Dname"] + "</td>" +
                    "</tr>"
            ); 
        }
    </script>
</head>

<body onload="go();">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Project</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/Inquire">Inquire</a></li>
					<li><a href="/insert">insert</a></li>
					<li><a href="/update">update</a></li>
					<li><a href="/delete">delete</a></li>
				</ul>
			</div><!--/.nav-collapse -->
      	</div>
    </nav>
    <center>
        <div class="a">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Employee Name:</label>
                    <input type="text" class="form-control" id="Ename">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">Department Name:</label>                
                    <select class="form-control" id="Dname">
                        <option>營業一課</option>
                        <option>營業二課</option>
                        <option>營業三課</option>
                    </select>
                </div>
                <button type="button" onclick="test1()" class="btn btn-default">員工搜尋</button>
                <button type="button" onclick="test2()" class="btn btn-default">部門搜尋</button>
                <button type="button" onclick="test3()" class="btn btn-default">ALL</button>
            </form>
        </div>
        <div class="b">
            <table class="table table-hover" id="content">
            </table>
        </div>        
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
